#dropzone {
    color: gray;
    background: #EEE;
    width: 150px;
    height: 150px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 150px;
    border-radius: 8px;
    border: 2px dashed #AAA;
    margin-top: 10px;
}
#dropzone.in {

}

#dropzone.hover {
    border-color: #888;
}

#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
