<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
        <!--学到了需要手动指定log4j2……自己写东西真的是能体会很多啊-->
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
</configuration>